$blue100: #ebf4ff;
$blue200: #b0d5ff;
$blue300: #61bdfa;
$blue400: #5cb2ed;
$blue500: #53a0d4;
$blue600: #4483ad;

$purple100: #ebefff;
$purple200: #b9c4ff;
$purple300: #6871ed;
$purple400: #636be0;
$purple500: #585fc7;
$purple600: #474da1;
$purple700: #2b2e61;

$yellow100: #edd05c;
$yellow200: #c7af4e;
$yellow300: #ad9844;

$red100: #ed8280;
$red200: #c76d6b;

$green100: #5ced88;
$green200: #53d479;
$green300: #4ec772;
$green400: #2b6e3f;

$black20: #ffff;
$black80: #e7e7e7;
$black240: #c4c7c9;
$black300: #cbd0d7;
$black400: #a2a5a7;
$black: #212529;
